<div class="container pb-3">
    <h2 class="h2 fw-bold text-danger">Delete Staff</h2>
</div>

<div class="card shadow rounded-4 border-danger overflow-hidden">
    <div class="table-head d-flex align-items-center px-3 py-2 bg-primary text-white">
        <div class="h5">Delete Staff</div>
    </div>
    <div class="card-body">

        <p>Are you sure you want to delete this staff member?</p>

        <ul class="list-group mb-3">
            <li class="list-group-item"><b>ID:</b> 7</li>
            <li class="list-group-item"><b>Name:</b> Raju Patel</li>
            <li class="list-group-item"><b>Email:</b> raju@email.com</li>
        </ul>

        <div class="text-end">
            <a asp-action="StaffList" class="btn btn-secondary">Cancel</a>
            <button class="btn btn-danger">Delete</button>
        </div>

    </div>
</div>
