<h2 class="h2 fw-bold">Edit Meeting Venue</h2>

<div class="card shadow rounded-4 overflow-hidden">
    <div class="table-head d-flex align-items-center px-3 py-2 bg-primary text-white">
        <div class="h5">Edit Meeting Venue</div>
    </div>
    <div class="card-body">
        <form>
            <div class="mb-3">
                <label class="form-label">Meeting Venue ID</label>
                <input class="form-control mb-3" value="2" readonly />
            </div>
            
            <div class="mb-3">
                <label class="form-label"> 	Meeting Venue Name</label>
                <input class="form-control mb-3" value="Conference Room A" />
            </div>

            <div class="text-end">
                <a asp-action="MeetingVenueList" class="btn btn-secondary">Cancel</a>
                <button class="btn btn-primary">Update</button>
            </div>
        </form>
    </div>
</div>
