<div class="container pb-3">
    <h2 class="h2 fw-bold text-danger">Delete Meeting</h2>
</div>

<div class="card shadow rounded-4 border-danger overflow-hidden">
    <div class="table-head d-flex align-items-center px-3 py-2 bg-primary text-white">
        <div class="h5">Delete Meeting</div>
    </div>
    <div class="card-body">

        <p>Are you sure you want to cancel this meeting?</p>

        <ul class="list-group mb-3">
            <li class="list-group-item"><b>Meeting ID:</b> 5</li>
            <li class="list-group-item"><b>Date:</b> 15-12-2025</li>
            <li class="list-group-item"><b>Venue:</b> Conference Room</li>
        </ul>

        <div class="text-end">
            <a asp-action="MeetingsList" class="btn btn-secondary">Cancel</a>
            <button class="btn btn-danger">
                <i class="bi bi-x-circle"></i> Cancel Meeting
            </button>
        </div>

    </div>
</div>
