<h2 class="h2 fw-bold">View Meeting Member</h2>

<div class="card shadow rounded-4 overflow-hidden">
    <div class="table-head d-flex align-items-center px-3 py-2 bg-primary text-white">
        <div class="h5">View Meeting Member</div>
    </div>
    <div class="card-body">
        <p><b>Meeting ID:</b> 1</p>
        <p><b>Staff ID:</b> 3</p>
        <p><b>Status:</b> Present</p>

        <a asp-action="MeetingMemberList" class="btn btn-primary">Back</a>
    </div>
</div>
