<h2 class="h2 fw-bold">Edit Meeting Type</h2>

<div class="card shadow rounded-4 overflow-hidden">
    <div class="table-head d-flex align-items-center px-3 py-2 bg-primary text-white">
        <div class="h5">Edit Meeting Type</div>
    </div>
    <div class="card-body">
        <form>

            <div class="mb-3">
                <label class="form-label">Meeting Type Id</label>
                <input class="form-control mb-3" value="1" readonly />
            </div>

            <div class="mb-3">
                <label class="form-label">Meeting Type Name</label>
                <input class="form-control mb-3" value="Review Meeting" />
            </div>

            <div class="mb-3">
                <label class="form-label">Remark</label>
                <input class="form-control mb-3" value="General Discussion" />
            </div>
            

            <div class="text-end">
                <a asp-action="MeetingTypeList" class="btn btn-secondary">Cancel</a>
                <button class="btn btn-primary">Update</button>
            </div>
        </form>
    </div>
</div>
