<h2 class="h2 fw-bold">View Meeting Type</h2>

<div class="card shadow rounded-4 overflow-hidden">
    <div class="table-head d-flex align-items-center px-3 py-2 bg-primary text-white">
        <div class="h5">View Meeting Type</div>
    </div>
    <div class="card-body">
        <p><b>ID:</b> 1</p>
        <p><b>Name:</b> Review Meeting</p>
        <p><b>Remarks:</b> General Discussion</p>
        <p><b>Created:</b> 09-11-2001</p>

        <a asp-action="MeetingTypeList" class="btn btn-primary">Back</a>
    </div>
</div>
