@{
    ViewData["Title"] = "Custom Tag Helper Lab";
}

<h1>@ViewData["Title"]</h1>

<p>This is an example of using the <strong>Sky Tag Helper</strong> in ASP.NET Core.</p>

<hr />

<sky color="blue">This is a Sky Tag Helper with color blue!</sky>

<br />

<sky color="orange" height="150">Hello</sky>

<br />

<sky color="green" height="200">Nice</sky>

<hr />