@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div><a asp-controller="Home" asp-action="Privacy">Youtube</a></div>
    <div><a asp-controller="Home" asp-action="GetJsonData">Get Jason Data</a></div>
    <div><a asp-controller="Home" asp-action="ContenetResultDemo">Contenet Data</a></div>
    <div><a asp-controller="Home" asp-action="DownloadFile">Download File</a></div>

</div>
