<div class="container-fluid pb-3">
    <h2 class="fw-bold mb-4">Dashboard</h2>
    @{
        <h2 class="mb-4">@ViewBag.vdm</h2>
        DeshboardModel dd = new DeshboardModel();
        <h2 class="mb-4">@dd.DemoData</h2>
    }
</div>
