@{
    var departments = new List<string>
    {
        "CSE",
        "Honers",
        "Civil",
        "Mechanical"
    };
}
<div class="container pb-3">
    <h2 class="h2 fw-bold">Department</h2>
    <div class="d-flex justify-content-end">
        <a class="btn btn-primary" asp-action="DepartmentAdd">
            <i class="bi bi-plus"></i> Add Department
        </a>
    </div>
</div>

<div class="shadow rounded-4 overflow-hidden">
    <div class="table-head d-flex align-items-center px-3 py-2 bg-primary text-white">
        <div class="h5 mb-0">Department List</div>
    </div>

    <table class="table main-table mb-0">
        <thead>
            <tr>
                <th>Department Name</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var dept in departments)
            {
                <tr>
                    <td>@dept</td>
                    <td class="text-center">
                        <div class="action-icons">
                            <a asp-action="DepartmentView" title="View">
                                <i class="bi bi-eye"></i>
                            </a>
                            <a asp-action="DepartmentEditForm" title="Edit">
                                <i class="bi bi-pen"></i>
                            </a>
                            <a asp-action="DepartmentDeleteForm" title="Delete">
                                <i class="bi bi-trash text-danger"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
